<footer class="footer bg-green">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-light">
        <p class="my-4">{{site.description}}</p>
      </div>
      <div class="col-md-6 text-right">
        <ul class="list-unstyled my-4">
          <li><a href="https://www.twitter.com/{{ site.twitter_username }}" class="text-light"><i class="fab fa-twitter-square"></i> @buildabetterlex</a></li>
          <li><a href="https://www.fb.me/{{ site.fb_username }}" class="text-light"><i class="fab fa-facebook-square"></i> @buildabetterlex</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>