<footer class="footer bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <h5 class="text-muted my-2">Build a Better Lexington</h5>
        <p class="text-muted">{{site.description}}</p>
      </div>
      <div class="col-md-5 text-right">
        <ul class="list-unstyled my-2">
          <li><a href="https://www.twitter.com/buildabetterlex" class="text-dark"><i class="fab fa-twitter-square"></i> @buildabetterlex</a></li>
          <li><a href="https://www.fb.me/buildabetterlex" class="text-dark"><i class="fab fa-facebook-square"></i> @buildabetterlex</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>