<div class="row">
  <div class="col-md-10">
    <a href="{{ site.baseurl }}/index.html" class="navbar-brand text-dark">
      <i class="fas fa-city"></i>
      Build a Better Lexington
    </a>
  </div>
  <div class="col-md-2 my-auto text-right social-links">
    <a href="https://www.twitter.com/buildabetterlex" class="text-dark"><i class="fab fa-twitter-square"></i></a>
    <a href="https://www.fb.me/buildabetterlex" class="text-dark"><i class="fab fa-facebook-square"></i></a>
  </div>
</div>

{% include navbar.html %}