
<nav class="navbar navbar-expand-md navbar-dark bg-green mb-4">
  <div class="container">
    <a class="navbar-brand" href="{{ site.baseurl }}/index.html">
      <img src="{{stie.baseurl}}/assets/img/logo-white.svg"/>
      Build a Better Lexington
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <strong><a class="nav-link text-white" href="{{ site.baseurl }}/index.html">Blog</a></strong>
        </li>
        <li class="nav-item">
          <strong><a class="nav-link text-white" href="{{ site.baseurl }}/about.html">About</a></strong>
        </li>
      </ul>
    </div>
  </div>
</nav>