---
---
// $primary: #068700;
$primary: #078500;

$theme-colors: (
  "primary": $primary,
);

$bg-color-green: $primary;

.bg-green{
  background-color: $bg-color-green;
}

.post-card{
  display: inline-block;
  height: 16rem;
}

.post-content > p > img {
  display: flex;
  max-width: 100%;
  margin: 0 auto;
}

.post-content > p {
  text-indent: 2rem;
}

.post-content > h4 {
  padding: .5rem;
  background-color: $primary;
  color: white;
  width: 100%;
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px; /* Set the fixed height of the footer here */
}

main {
  margin-bottom: 130px;
}

.social-links {
  font-size: large;
}

.caption {
  color: gray;
  font-size: smaller;
}
@import 'bootstrap';